
/* body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.cartpagerow {
  display: flex;
  gap: 1rem;
}
input, label{
  display: block;
}

.my-form{
 
  /* width: 800px; */
  border-radius: 0.356rem;
  background-color: rgb(201, 238, 144);
}
.form-header{
  background-color: rgb(201, 238, 144);
  height: 80%;
  padding: 0rem 1rem;
}
.form-body{
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.form-footer{
  background-color: grey;
  display: flex;
  justify-content:flex-end ;
  padding: 1rem;
}
.item{
  flex-grow: 1;
}
inputlabel{
  width: 100%;
  height: 30px;
}
.products{
  width: 90%;
  justify-content: center;
  display: flex;
}
.checkout {
  display: flex;
  justify-content: center;
 
  width:  365px;
  height: 132px;;
  text-align: center;

}
/* .last-row{
  justify-content: space-between;
 
  width: auto;
  height: auto;
 
} */
/* .cancelbutton{
  background-color: rgb(201, 238, 144);
  color: rgb(14, 11, 1);
}
.sendbutton{
  background-color: rgb(201, 238, 144);
  color: rgb(14, 11, 1);
} */
