.contactInput{
    width: 300px;
}

#message {
    width: 300px;
}

.contact{
    /* padding-left: 100px; */
    justify-content: center;
    display: flex;
    
   
}

.send{
    margin-right: 200px;
    margin-bottom: 150px;
    justify-content: center;
    
    
}
.page{ 
    background-image: url('https://images.pexels.com/photos/1654255/pexels-photo-1654255.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px; 
    height: 500px;
    padding-left: 100px;
    margin-top: 50px;
    


}