.footer{
    background-color: rgb(201, 238, 144);
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: -20px -3em;
    bottom: -20px;

    min-height: 100%;
}


.shop{
    justify-content: center;
}


.flex-container{
    display:flex;
}

.footer-content{
    background-color: rgb(201, 238, 144);
}

.copyright {
    color: black;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

footer{
    background-color: rgb(201, 238, 144);
    bottom: 0;
}


content{
    max-height: 250px;
}

li{
    font-size: smaller;
    color: black;
}

ul li {
    list-style-type: none;
}


h3{
    font-size: medium;
    color: darkgreen;
    
}


a{
    color: black;
}


.footerlist{
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}
  
   
