
.shop{
    justify-content: center;
}


.flex-container{
    display:flex;
}

.footer-content{
    background-color: rgb(201, 238, 144);
    justify-content: center;
    width: 100%;
    display: flex;
    margin-top: auto;
    position: relative;
    
}

.copyright {
    color: black;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;

}



content{
    max-height: 250px;
}

li{
    font-size: smaller;
    color: black;
}

ul li {
    list-style-type: none;
}


h3{
    font-size: medium;
    color: darkgreen;
    
}


a{
    color: black;
}


.footerlist{
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}
  
   
