.footer{
    background-color: rgb(201, 238, 144);
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: -20px -3em;
    bottom: -20px;

    min-height: 100%;
}
.shop{
    justify-content: center;
}
.flex-container{
    display:flex;
}
.copyright{
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}
/* footer{
    background-color: rgb(201, 238, 144);
     bottom: 0;
    height: 100px;
}
content{
    max-height: 250px;
} */

li{
    font-size: smaller;
    color: black;
}
h3{
    font-size: medium;
    color: darkgreen;
}
a{
    color: black;
}
.copyright{
    color: black;
    margin: 0;

    
}
  
   
