


.nav-logo {
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    width: 160px;
    object-fit: contain;
}

.nav-color {
    background-color: rgb(201, 238, 144);
}

.icons {
    border: red;
    width:100px;
}

.nav-input {
    margin: auto;
}

.lower-nav {
    padding-top: 2px;
    padding-bottom: 2px;
}


@media only screen and (max-width: 820px){
#MensDropDown {
    width: 102px !important;
}}


@media only screen and (max-width: 820px){
#ShoesDropDown {
    width: 102px;
}}


@media only screen and (max-width:820px){
    .sortButton{
        width: 50px;
        height: 25px;
    }
}

   /* -------------SearchBar---------- */

   .parentOfInput {
    width: 20rem;
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
}



@media only screen and (max-width: 600px){
    .parentOfInput{
        border: solid red;
        flex-wrap: wrap;
    }
}


.searchDropdown {
    position: absolute;
    background-color: ghostwhite;
    left:0%;
    overflow: auto;
    top: 42px;
    z-index: 10;
    width: 20rem;
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none;
}     

.searchDropdown::-webkit-scrollbar {
    display: none;
  }

.dropResults {
    padding-left: 1rem;
    margin-bottom: 1px;
}

.dropResults:hover {
    background-color: lightgrey;
}

.invisible {
    visibility: hidden;
}

.clearButton {
    display: block;
    width: 2rem;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    color: #a8a8a8;
    cursor: pointer;
    border: none;
    background: transparent;
    padding:0;
  }