/* nav{
    background-color: green !important;
} */

.nav-logo {
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/src/front/img/greenGarb.png');
    height: 50px;
    width: 100px;
}

.nav-color {
    background-color: rgb(201, 238, 144);
}


input {
    margin: auto;
}