.App {
    font-family: sans-serif;
    min-height: 100vh;
  }
  
  footer {
    position: fixed;
    background-color: green;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
  }
  